* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

nav .nav-logo {
  margin-left: 1rem;
}

nav .nav-links {
  display: flex;
  margin-right: 1rem;
}

nav .nav-links a {
  margin-right: 1rem;
  font-family: sans-serif;
  text-decoration: none;
}
