@import "config";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: rgb(42, 52, 61);
  font-family: sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;

  .nav-logo {
    margin-left: 1rem;
    color: rgb(164, 168, 196);
  }

  .nav-links {
    display: flex;
    margin-right: 1rem;

    a {
      margin-right: 1rem;
      // font-family: sans-serif;
      text-decoration: none;
      color: rgb(164, 168, 196);
    }
  }
}
